n8n-workflows/test-supabase-connection.json
{
  "name": "Test Supabase Connection",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lyhfeqejktubykgjzjtj.supabase.co/rest/v1/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "Test Post from n8n"
            },
            {
              "name": "content",
              "value": "This is a test post created by n8n workflow to verify Supabase integration."
            },
            {
              "name": "category",
              "value": "general"
            },
            {
              "name": "tags",
              "value": "[\"test\", \"n8n\"]"
            },
            {
              "name": "author_id",
              "value": "00000000-0000-0000-0000-000000000000"
            }
          ]
        }
      },
      "id": "http-request",
      "name": "Create Test Post in Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-service-role",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "equals",
              "value2": "201"
            }
          ]
        }
      },
      "id": "if-success",
      "name": "Check if Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "message": "✅ SUCCESS: Post created in Supabase!\\n\\nPost ID: {{$json.id}}\\nTitle: {{$json.title}}"
      },
      "id": "success-message",
      "name": "Success Message",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "message": "❌ FAILED: Could not create post\\n\\nStatus: {{$json.statusCode}}\\nError: {{$json.error}}"
      },
      "id": "error-message",
      "name": "Error Message",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Create Test Post in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Post in Supabase": {
      "main": [
        [
          {
            "node": "Check if Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Success": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-26T03:30:00.000Z",
  "versionId": "1"
}
